body{
	margin :0;
	padding :0;
	font-family : sans-serif;
	background : #33b9b2;
	
	
}
.arkaplan{
	background-image : url("../img/ziyaret.png");
    background-size:     cover;                      
    background-repeat:   no-repeat;
	width: 1000px;
	height :680px ;
}
.kutu{
	width:330;
	height:40px;
	position: absolute;
	top : 24%;
	left: 85%;
	transform : translate(-50%,-50%);
	background : #33b9b2;
	text-align : center;
	margin-top : -100px;
}
.arkaplan2{
	background-image : url("../img/girisyap.png");
    background-size:     cover;                      
    background-repeat:   no-repeat;
	width: 800px;
	height : 100% ;
}
.kutu input[type="text"], .kutu input[type="password"], .kutu input[type="submit"], .kutu input[type="date"], .kutu input[type="email"] {
		border : 0;
		position : relative;
		background : white;
		display: block;
		margin : 10px auto;
		text-align : center;
		border :2px solid white;
		padding : 15px 10px;
		width : 200px;
		outline: none;
		color : black;
		border-radius: 25px;
		transition: 1.10s;
		margin-left : -60px;
}
.radio{
		border : 0;
		position : relative;
		background : white;
		display: block;
		margin : 3px auto;
		text-align : center;
		border :2px solid white;
		width : 200px;
		outline: none;
		color : black;
		border-radius: 25px;
		transition: 1.10s;
		margin-left : 40px;
}
.avatar{
		position: fixed;
		border : 0;
		margin-top : 16px;
		margin-left : -62px;
		width : 13px;
		height:15px;
		z-index: 1;
}
h1{
		font-family : sans-serif;
		border : 0;
		position : relative;
		background : white;
		display: block;
		margin : 10px auto;
		text-align : center;
		border :2px solid white;
		padding : 15px 10px;
		width : 400px;
		outline: none;
		color :  #33b9b2;
		border-radius: 25px;
		transition: 1.10s;
		margin-left : -70px;
		margin-bottom : 30px;
}
.kutu h1{
		font-family : sans-serif;
		border : 0;
		position : relative;
		background : white;
		display: block;
		margin : 10px auto;
		text-align : center;
		border :2px solid white;
		padding : 15px 10px;
		width : 400px;
		outline: none;
		color :  #33b9b2;
		border-radius: 25px;
		transition: 1.10s;
		margin-left : -175px;
		margin-bottom : 30px;
}
.key{
		position: fixed;
		border : 0;
		margin-top : 17px;
		margin-left : -64px;
		width : 13px;
		height:15px;
		z-index: 1;
}
.basarili{
		border : 0;
		font-family : sans-serif;		
		position : relative;
		background : white;
		display: block;
		margin : 20px auto;
		text-align : center;
		border :3px solid green;
		padding : 5px 5px;
		width : 300px;
		height : 20px;
		outline: none;
		color : green;
		border-radius: 15px;
		transition: 1.10s;
		margin-left : -10px;
		
}
.basarili img {		
		border-radius: 15px;
		transition: 0.25s;
		width: 30px;
		height : 20px;
		margin-left: -175px;
}
b {		
	position: absolute;	
	margin-top: 2px;
}
.basarisiz{
		border : 0;
		font-family : sans-serif;		
		position : relative;
		background : white;
		display: block;
		margin : 20px auto;
		text-align : center;
		border :3px solid green;
		padding : 5px 5px;
		width : 300px;
		height : 20px;
		outline: none;
		color : red;
		border-radius: 15px;
		transition: 1.10s;
		margin-left : -118px;
}
.basarisiz img {		
		border-radius: 15px;
		transition: 0.25s;
		width: 30px;
		height : 20px;
		margin-left: -265px;
}
.basarisiz p {		
	margin-top : -18px;
	margin-left: 20px;
}